
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');
/* font-family: 'Josefin Slab', serif; */

/* GENERAL */

.container{
  background-image: url('./assets/bc-test.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 441px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: aliceblue;
  position: relative;
  border-radius: 25px;
}

.flexbox{
  display: flex;
  vertical-align: middle !important;
}

.text-center{
  text-align: center;
}

a{
  color: white;
  padding: 0 0.6rem;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 2px 2px 8px #000000;
}

.navFooter{
  position: absolute;
  bottom: 0;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

/* Titles */
h1, h2, h3, h4, h5{
  font-family: 'Josefin Slab', serif;
  text-shadow: 2px 2px 8px #000000;
}

p{
  font-family: 'Josefin Slab', serif;
  text-shadow: 2px 2px 8px #000000;
}

/* HOME */

.clock{
  font-size: 4.2em;
  padding-left: 9.5rem;
}

.clock p{
  padding-top: 2.8rem;
  margin: 0;
}

.pm{
  font-size: 0.35em;
  margin-top: 0.5rem !important;
}

.day{
  font-size: 1.85em;
}

.date{
  font-weight: 600;
  margin: 0;
}

.year{
  margin-top: -1.5rem;
  font-weight: bold;
  font-size: 1.1em;
}

.search input{
  border-radius: 5px;
  border: 0;
  padding: 0.4rem;
}

input::placeholder{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search .Btn{
  border-radius: 10px;
  margin-left: 1rem;
  padding: 0.4rem;
  border: 0px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

/* MOOD */

.moodTitle{
  padding-top: 2rem;
}

.moodBtn{
  background-color: #C8B27E;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 1rem;
}

.caps{
  text-transform: uppercase;
}

.bigTitle{
  margin-top: 0.1rem;
  font-weight: bold;
  font-size: 2rem;
}


/* TO DO LIST */

.toDoTiltle{
  padding-top: 1.9rem;
}

.flex{
  display: flex;
}

.toDoList{
  margin-left: 1.5rem;
}

.toDoItem.text{
  width: 50%;
  text-align: left;
  text-transform: capitalize;
}

.toDoItem{
  margin: 0.2rem 1rem;
}

.incomplete {
  color: #ffffff;
  font-weight: bold;
}

.complete {
  color: rgb(159 143 42);
  font-weight: 700;
}